# Google C/C++ Code Style Settings

Language: Cpp
BasedOnStyle: Google
Standard: c++20
UseTab: Never
ColumnLimit: 250

# Additional

alignAfterOpenBracket: AlwaysBreak
AllowSortBlockOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLoopsOnASingleLine: false
AllowShortLamdasOnASingleLine: Empty

InsertBraces: true
ExperimentalAutoDetectBinPacking: true
SortIncludes: false