root = true

[*/{cpp, h, hpp, c}]
indent_style = space
indent_size = 4
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true


[*.{vert, frag, glsl}]
indent_style = space
indent_size = 4
tab_width = 4